<div class="app-item">
    <div class="box-info">
        <div class="box-info--content">
            <div class="description">
              <h1>{{app.name}}</h1>
              <p>{{app.description}}</p>
            </div>
            <div class="tags">
              <span *ngFor="let categories of app.categories; let i = index"><a [routerLink]="[ '/products', categories, 1 ]">{{categories}}</a><span *ngIf="i != app.categories.length-1">/ </span></span>
            </div>
            </div>
             <div class="box-info--footer">
            <ul>
              <li *ngFor="let subscription of app.subscriptions">
                <span>{{subscription.name}}</span>
                <h3 *ngIf="subscription.price != 0">
                  {{subscription.price}}
                  <sup>€</sup>
                </h3>
                <h3 *ngIf="subscription.price === 0">Free</h3>
              </li>
            </ul>
        </div>
    </div>
</div>