<nav class="nav-categories">
    <h2>Categories</h2>

    <ul class="nav-menu">
        <li><a [routerLink]="['/products']">Show all categories</a></li>
      <li *ngFor="let item of menuItems.sort()"><a [routerLink]="['/products', item, 1]" routerLinkActive="active">{{item}}</a></li>
    </ul>

  </nav>