
  <div class="flex-container">
    <app-menu
      [menuItems]="menuItems"
    ></app-menu>
    <section class="apps-list">
      <header>
        <input type="search" placeholder="Search by App" [formControl]="searchField">
      </header>
      <ul>
        <li *ngFor="let app of filteredJSON.slice(this.currentPage*3 - 3, this.currentPage*3)">
          <app-card [app]="app"></app-card>
        </li>
        </ul>
        <ul class="pagination">
            <li><a [routerLink]="this.currentPage-1!=0 ? ['/products', this.currentPage - 1] : ['/products', this.currentPage]">&lt;</a></li>
            <li *ngFor="let number of numberPages"><a [routerLink]="this.category ? ['/products/'+this.category, number +1] : ['/products', number +1]" routerLink="active">{{number + 1}}</a></li>
            <li><a [routerLink]="this.currentPage+1!=this.numberPages.length+1 ? ['/products', this.currentPage + 1] : ['/products', this.currentPage]">&gt;</a></li>
          </ul>
      </section>
  </div>