@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');

:root {
  --white: #FFFFFF;
  --black: #172241;
  --gray: #f4f7f6;
  --gray-dark: #6c7680;
  --teal: #4bc3c9;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: var(--gray);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

p{
  color: var(--gray-dark);
}

.tags {
  color: var(--teal);
}

h1 {
  color: var(--teal);
  font-weight: 400;
}

h2 {
  font-size: 2.125rem;
  padding: 0 1rem;
}

h3 {
  font-size: 1.5rem;
  padding: 0 .5rem;
  font-weight: 300;
}
